<!-- Header страницы -->
<header class="header">
  <figure class="header__figure">
    <a class="header__link" href="#">
      <img class="header__image" src="./assets/img/logo.png" alt="logo">
    </a>
  </figure>
</header>
<body>
<!-- Grid container -->

  <!-- Navigation block -->
  <nav class="nav">
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class=" nav__item  " [routerLink]="['/']">Главная</a>
    <a routerLinkActive="active" class="nav__item" [routerLink]="['/contact-page']">Контакт</a>
    <a routerLinkActive="active" class="nav__item" [routerLink]="['/order-page']">Заказ</a>
    <a routerLinkActive="active" class="nav__item" [routerLink]="['/new-product-page']">Добавить Товар</a>
    <a routerLinkActive="active" class="nav__item" [routerLink]="['/dashboard']">Доска товаров</a>
  </nav>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer__item">&copy; 2020 bikeshop</div>
  <div class="footer__social">
    <a href="#" class="footer__social facebook"></a>
    <a href="#" class="footer__social youtube"></a>
    <a href="#" class="footer__social instagram"></a>
  </div>
</footer>
</body>
