<p-table *ngIf="products.length; else loading" [value]="products">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Продукты
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Картинка</th>
      <th>Название</th>
      <th>Цена</th>
      <th>Рейтинг</th>
      <th>Действие</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product *ngFor = "let product of products">
    <tr>
      <td><img [src]="product.img" [alt]="product.name" width="100" class="p-shadow-4" /></td>
      <td>{{product.name}}</td>
      <td>{{product.price | currency:'EUR':'symbol-narrow':'1.0-0'}}</td>
      <td><p-rating [ngModel]="getAvRating(product.reviews)" [readonly]="true" [cancel]="false"></p-rating></td>
      <td><span class="p-buttonset">
    <button pButton type="button" label="Edit" icon="pi pi-pencil" [routerLink]="['/edit-product', product.id, 'edit']"></button>
    <button pButton type="button" label="Delete" icon="pi pi-trash" (click)="remove(product.id, product.img)"></button>
</span></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      В общем {{products ? products.length : 0 }} продукт(ов).
    </div>
  </ng-template>
</p-table>
<ng-template #loading>
  <div class="center">
    <p-progressSpinner ></p-progressSpinner>
    <br>
    Загрузка...
  </div>
</ng-template>
