/* Container */
.container{
  display: grid;
  position: relative;
  padding-bottom: 60px;
  gap: 2px;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
          "nav"
          "slider"
          "sidebar"
          "main"
;
  @include respond-to(handhelds) {
    grid-template-columns:1fr 20%;
    grid-template-rows: (3, auto);
    grid-template-areas:
            "nav nav"
            "slider slider"
            "main main"
  ;
  }
  @include respond-to(medium-screens) {
    grid-template-areas:
            "nav nav"
            "slider slider"
            "main main"
  ;
  }
}
/*End Container */
