.datepicker{
  width: 100%;
  text-align: center;
  margin: 20px;
}
.datepicker__title{
  margin-top: 5px;
}
.datepicker__input{
  width: 65%;
  margin: 10px auto;
  border: 1px solid $violet;
  border-radius: 25px;
}
.ui-widget-header {
  background: $violet;
  color: #fff;
  border: none;
}
.ui-widget {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6;
  font-weight: bold;
  color: $violet;
  border-radius: 30px;
  text-align: center;
  &:hover{
    background: $violet;
    color: $white;
  }
}
.ui-widget-header .ui-icon {
  background-image: url(https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/ui-lightness/images/ui-icons_ffffff_256x240.png);
}