/* Footer */
.footer{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: $primary_grey;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  &__social a {
    background-image: url("../../../assets/img/sprites2.png");
    background-repeat: no-repeat;
    height: 24px;
    width: 25px;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.2s ease-out;
    &:hover{
      background-position-y: bottom;
    }
  }
}

.facebook{
  background-position: left top;
}
.youtube{
  background-position: -25px top;
}
.instagram{
  background-position: -50px top;
}
/* End Footer */
