/* Header Block */
.header{
display: grid;
  justify-content: center;
  background: $primary_grey;
  margin-bottom: 2px;
  &__figure{
    width: 100%;
    margin: 2px;
  }
  &__image{

  }
}
/* End Header Block */