/* Nav Block */
.nav {
  display: flex;
  justify-content: center;
  background: $primary_grey;
  grid-area: nav;
  position: sticky;
  top: 0;
  z-index: 9999;
  &__item {
    color: $black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: $xs-font-primary;
    &:hover {
      background-color: #9769e2;
      color: $white;
    }
    &--active {
      background-color: #9769e2;
      color: $white;
    }
  }
}

.icon__home{
  &:before{
    content: "\f015";
    font-family: FontAwesome;
    color:$violet;
    font-size: 16px;
    margin-right: 4px;
  }
  &:hover{

  &::before{
    color: $white;
  }
  }
   &--active{
    &:before{
    content: "\f015";
    font-family: FontAwesome;
    color:$white;
    font-size: 16px;
    margin-right: 4px;
  }
 }
}
/* End Nav Block */