/* Registration */

.reg{
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  &__header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
  }
  &__form {
    padding: 30px 40px;
    button, .regSub {
      background-color: #8e44ad;
      border: 2px solid #8e44ad;
      border-radius: 4px;
      color: #fff;
      display: block;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
      width: 100%;
      &:hover{
        background-color: #532968;
        cursor: pointer;
      }
    }
  }
  &__facebook{
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
  input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    &:focus {
      outline: 0;
      border-color: #777;
    }
  }

  &--success{
    @extend .form-control;
    input{
      border-color: #2ecc71;
    }
    i.fa-check-circle {
      color: #2ecc71;
      visibility: visible;
    }
  }
  &--error{
    @extend .form-control;
    input{
      border-color: #e74c3c;
    }
    i.fa-exclamation-circle {
      color: #e74c3c;
      visibility: visible;
    }

  }
  i {
    font-family: fontawesome;
    visibility: hidden;
    position: absolute;
    top: 30px;
    right: 10px;
  }
  small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
}

.form-control--error small {
  visibility: visible;
}
.facebookButton{
  background-color: #3f6fff;
  border: 2px solid #3f6fff;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: -10px;
  width: 92%;
  text-align: center;
  &:hover{
    background-color: #2845a0;
    cursor: pointer;
  }
}