.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary_grey;
  grid-area: sidebar;
  @include respond-to(handhelds) {
    justify-content: flex-start;
  }
}

.search{
  &__form {
    position: relative;
    width: 300px;
    margin: 10px auto;
    @include respond-to(handhelds) {
      max-width: 160px;
    }
  }
  &__button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 2px;
    right: 8px;
    cursor: pointer;
    background: none;
    &:before {
      content: "\f002";
      font-family: FontAwesome;
      color: $grey;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      &::before{
        color: $violet;
      }
    }
  }
  &__button, input{
    border: none;
    outline: none;
    border-radius: 25px;
  }
}

input {
  width: 100%;
  height: 30px;
  background: white;
  padding-left: 15px;
  &:hover{
    color: $violet;
  }
}

.ui-state-focus {
  border: none !important;
  background: #cbcbcb 50% 50% repeat-x !important;
  font-weight: bold;
  color: $violet !important;
}

