/* Product List */
.product{
  display: grid;
  position: relative;
  gap: 5px;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "top__block"
    "block1"
    "block2"
    "block3"
    "block4"
;
  @include respond-to(handhelds) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "top__block top__block"
      "block1 block2 "
      "block3 block4"

  ;
  }
  @include respond-to(medium-screens) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "top__block top__block block1"
      "block2 block3 block4"

  ;
  }
}
.top__block {
grid-area: top__block;
}
.block1 {
grid-area: block1;
}
.block2 {
  grid-area: block2;
}
.block3 {
  grid-area: block3;
}
.block4 {
  grid-area: block4;
}
.topcard{
  display: grid;
  position: relative;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  background: $white;
  height: 100%;
  &__short__height{

  }
  &__aside{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 225px;
    margin-bottom: 15px;
    border-bottom: 1px solid #87878726;
  }
  &__figure{
    width: 100%;
    max-height: 138px;
    display: flex;
    justify-content: center;
  }
  &__image{
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  &__sticker{
    background: #ab66ff;
    width: 125px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: absolute;
    padding: 12px;
    &--orange {
      background: #ff5100;
    }
    &--yellow {
      background: $yellow;
    }
  }
  &__sticker-disc{
    background: #ab66ff;
    width: 125px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: absolute;
    padding: 12px;
    right: 0;
    &--red{
      background: red;
    }
    &--pink{
      background: deeppink;
    }
    &--yellow{
      background: yellow;
      color: $black;
    }
  }
  &__header{
    display: flex;
    flex-direction: column;
    color: $black;

  }
  &__price{
    color: $violet;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    &--red{
      color: red;
      font-size: 24px;
    }
    &--pink{
      color: deeppink;
      font-size: 24px;
    }
    &--yellow{
      color: $yellow;
      font-size: 24px;
    }
  }
  &__oldprice{
    position: relative;
    font-size: 14px;
    color: $grey;
    margin-left: 20px;
    &:before{
      border-bottom: 2px solid $grey;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      transform: rotate(10deg);
    }
  }
  &__line{
    background: url("../../../assets/img/line.png") repeat;
    margin: 0 auto;
    width: 92%;
    height: 2px;
  }
  &__title{
    text-align: center;
    font-size: 24px;
  }
  &__body{
    text-align: left;
    width: 100%;
    min-height: 180px;
    padding: 15px;
  }
  &__content{
    font-size: 16px;
    color: $black;
  }
  &__footer{
    align-self: end;
    width: 100%;
  }
  &__action{
    font-size: 14px;
    color: $black;
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 0 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    .border{
      color: $light_grey;

    }
  }
  &__item{

  }
  &__button .button-main{
    border: 1px solid $violet;
    outline: 0;
    padding: 12px;
    color: $violet;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    &:before{
      content: "\f07a";
      font-family: FontAwesome;
      color:$violet;
      font-size: 19px;
      margin-right: 5px;
    }
    &:hover {
      opacity: 0.7;
      background-color: $violet;
      color: $white;
      &::before{
        color: $white;
      }
    }
  }
}

.product__link{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 1px solid $violet;
  &:hover {
    box-shadow: 0 14px 28px rgba(33, 19, 255, 0.25), 0 10px 10px rgba(41, 5, 255, 0.22);
  }
  &--red{
    border: 1px solid $red;
    &:hover{
      border: 1px solid $red;
      box-shadow: 0 14px 28px rgba(221, 0, 0, 0.53), 0 10px 10px rgba(255, 0, 0, 0.56);
    }
  }
  &--pink{
    border: 1px solid deeppink;
    &:hover{
      border: 1px solid deeppink;
      box-shadow: 0 14px 28px rgba(255, 24, 182, 0.56), 0 10px 10px rgba(255, 37, 245, 0.45);
    }
  }
  &--yellow{
    border: 1px solid $yellow;
    &:hover{
      border: 1px solid $yellow;
      box-shadow: 0 14px 28px rgba(253, 255, 29, 0.74), 0 10px 10px rgba(253, 255, 37, 0.69);
    }
  }
}

.item-delivery:before{
  content: "\f0d1";
  font-family: FontAwesome;
  color:$violet;
  font-size: 14px;
  margin-right: 2px;
}
.item-new:before{
  content: "\f067";
  font-family: FontAwesome;
  color:$violet;
  font-size: 14px;
  margin-right: 2px;
}
.item-time:before{
  content: "\f017";
  font-family: FontAwesome;
  color:$violet;
  font-size: 14px;
  margin-right: 2px;
}


/* End Top Product List */
