/* Order Form */
.order {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px; }
  .order__header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px; }
  .order__form {
    padding: 30px 40px; }
    .order__form button, .order__form .order__button, .order__form .regSub {
      background-color: #8e44ad;
      border: 2px solid #8e44ad;
      border-radius: 4px;
      color: #fff;
      display: block;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
      width: 100%; }
      .order__form button:hover, .order__form .order__button:hover, .order__form .regSub:hover {
        background-color: #532968;
        cursor: pointer; }
  .order__title {
    font-size: 1.2em;
    display: flex;
    background-color: #f7f7f7;
    margin-bottom: 15px;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center; }
  .order__delivery {
    display: flex; }
  .order__credit-card {
    display: flex; }
    .order__credit-card--inline {
      display: inline-flex;
      margin: 10px 0; }
  .order__button {
    height: auto; }
  .order__payment {
    height: 1px;
    width: auto; }

.form-control, .form-control--success, .form-control--error {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative; }
  .form-control label, .form-control--success label, .form-control--error label {
    display: inline-block;
    margin-bottom: 5px; }
  .form-control input, .form-control--success input, .form-control--error input, .form-control select, .form-control--success select, .form-control--error select, .form-control textarea, .form-control--success textarea, .form-control--error textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%; }
    .form-control input:focus, .form-control--success input:focus, .form-control--error input:focus, .form-control select:focus, .form-control--success select:focus, .form-control--error select:focus, .form-control textarea:focus, .form-control--success textarea:focus, .form-control--error textarea:focus {
      outline: 0;
      border-color: #777; }
  .form-control--success input, .form-control--success select {
    border-color: #2ecc71; }
  .form-control--success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible; }
  .form-control--error input, .form-control--error select {
    border-color: #e74c3c; }
  .form-control--error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible; }
  .form-control i, .form-control--success i, .form-control--error i {
    font-family: fontawesome;
    visibility: hidden;
    position: absolute;
    top: 38px;
    right: 25px; }
  .form-control small, .form-control--success small, .form-control--error small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden; }
  .form-control--center {
    text-align: center; }

.form-control--error small {
  visibility: visible; }

.checks {
  position: relative;
  background-color: #623f3f0d; }

#sameAddr {
  position: absolute; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none; }
  .custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%; }

.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }

.m10 {
  margin: 10px; }

#errorText, .errorMessage {
  display: none;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  background: #f04d4d;
  color: white;
  border: 2px solid #be3226; }
