<div class="p-field p-col-11">
  <div class="search">
        <span class="p-float-label p-input-icon-left" style="width: 100%;">
          <i class="pi pi-search"></i>
            <input style="width: 100%;" type="search" id="inputtext" [formControl]="searchControl" pInputText>
            <label for="inputtext">Find images</label>
        </span>
  </div>
  <div class="image-list p-mt-3" *ngIf="images.length; else empty">
    <div class="card">
      <p-dataView #dv [value]="images" [paginator]="true" [rows]="9" layout="grid">
        <ng-template let-image pTemplate="gridItem">
          <div class="p-col-12 p-md-4">
            <div class="product-grid-item card">
              <div class="product-grid-item-content">
                <img [src]="image.url" [alt]="image.title"/>
                <div class="product-name">{{image.title | truncate:[20]}}</div>
              </div>
              <div class="product-list-action">
                <p-chips separator="," placeholder="some tags?"></p-chips>
                <div class="p-mb-2"></div>
                <p-button class="p-ml-3" (click)="addToBookmark(image);showTopCenter();" label="Bookmark it"
                          icon="pi pi-check"></p-button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
  <ng-template #empty>
    <div class="p-text-center">
      <h2>No image here. Would you try to search for anything else</h2>
    </div>
  </ng-template>
</div>
<p-toast position="top-center" key="tc"></p-toast>
