agm-map {
  height: 300px; }

.field {
  position: relative; }

.field .is-error {
  color: red;
  font-size: 0.9em;
  position: absolute;
  bottom: 0;
  left: 14px; }

.contact__submit {
  margin-top: 20px; }
